[Desktop Entry]
Name=Open格式转换
Exec=/usr/bin/Open格式转换
Icon=com.mrarub.open
Terminal=false
Type=Application
Categories=Office;Utility;
StartupNotify=true
